.experiencia {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}

.experiencia .subtitulo {
  color: #e0e0e0;
}
.experiencia-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #525252;
}
.experiencia-texto strong {
  color: #141414;
}

.curso {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  background-color: #f5f5f5;
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
  gap: 10px 20px;
}

.ano {
  width: 50px;
  text-align: right;
  position: absolute;
  top: 22px;
  left: -60px;
  color: #525252;
  font-size: 0.875rem;
}

.curso::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  position: absolute;
  top: 20px;
  left: -4px;
  background: linear-gradient(#b6f829, #67dd0a);
}

.curso-titulo {
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.1;
}

.curso-texto {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #525252;
}

.curso-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.curso-habilidades li {
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 4px;
  background-color: #fff;
  padding: 5px 10px;
}

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
  }
  .experiencia .subtitulo {
    color: #141414;
    margin-bottom: 30px;
  }
  .experiencia-texto {
    font-size: 1.25rem;
  }
  .ano {
    position: initial;
    order: 1;
    text-align: left;
    width: initial;
    font-weight: bold;
  }
  .ano::before {
    content: "Ano: ";
  }
}

@media (max-width: 400px) {
  .curso {
    grid-template-columns: 1fr;
  }
}
